/* Skapad av Tilda Källström 2021 */
/* generell css */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;500&display=swap');
/*  font-family: 'IBM Plex Sans', sans-serif; weight 100,300,500*/
@import 'dark';
@import 'normalize';
@import 'header';
@import 'footer';

//variabel
$base-color: #371836;

html {
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}
$font-stack: 'IBM Plex Sans', sans-serif;
:root {
    --main-bg-color: #e8f8f5;
}
body {
    
    //background-color: #e8f8f5;
    max-width: 1500px;
    margin: auto;
    font: 100% $font-stack;
}

.homeh1 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 4em;
    }
   .h1booking {
    text-align: center;
    //color: black;
    font-weight: 400;
    font-size: 2.8em;
   }
.intro {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px; 
    padding-top: 12em;
}
.introsec {
    padding-top: 1em;
    padding-bottom: 3.5em;
    margin: auto;
    margin-bottom: 5em;
}
//mixin
@mixin theme($theme: #371836) {
    background: $theme;
    box-shadow: 0 2px 2px rgba($theme, .2);
    color: white;
}
.introsec1 {
    padding-top: 1em;
    margin: auto;
    margin-top: -5em;
    margin-bottom: 5em;
    @include theme;
}
.centerdiv {
    max-width: 380px;
    margin: auto;
}
.introp {
    max-width: 540px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
}
.buttondiv {
    margin: auto;
    max-width: 200px;
    margin-top: 5em;
}
.button {
    font-size: 1.5em;
    border-radius: 30px;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color:#00254d;
    //ljusa upp ovan färg
    background-color: lighten(#00254d, 2);
    color: white;
    font-weight: 100;
}
.button:hover {
    font-size: 1.5em;
    border-radius: 30px;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color:#001b38;
    color: white;
    font-weight: 100;
    cursor: pointer;
}
.h21 {
    text-align: center;
    font-size: 2em;
}
p {
    font-weight: 300;
    max-width: 32ch;
    line-height: 1.5em;
}
.pcenter {
    margin: auto;
    max-width: 400px;
    margin-bottom: 2em;
    color: white;
}
form {
    margin: auto;
    max-width: 400px;
    
label {
    color: white;
}
input[type=text]:focus {
    background-color: white;
    border: none;
  }
input[type=text], input[type=email], select, textarea {
    width: 400px; 
    padding: 12px; 
    border: none;
    box-sizing: border-box; 
    resize: vertical;
    border-bottom: solid 1px;
    margin: auto;
  }
   input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 400px;
    cursor: pointer;
  }
    input[type=submit]:hover {
    background-color: rgb(3, 192, 192);
  }
 
}
   .container {
    @include theme;
    background-color: darken($base-color, 5);
    padding: 20px;
    margin-top: -5em;
  }
