//header
//variabler
$headerleft: #6e0a1e;
$headerright: #00254d;
header {
    background-image: linear-gradient(to right, $headerleft, $headerright);
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 1500px;
}
.headergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 
.menyhere {
    display: inline;
   float: right;
   text-decoration: underline;
   margin-right: 15px;
   font-weight: 400;
   margin-top: -0.5em;
}
.menyhere a {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.5rem 1rem;
}
/* nesting av meny*/
.meny {
  a {
    color: white;
    text-decoration: none;
}
  a:hover {
    text-decoration: underline;
}
}
@media only screen and (max-width: 900px) {
    /*headersektion*/
.logo {
     width: 70px;
     display: block;
     margin: 5px;
        }
.mobile {
     float: right;
        }
 .navbar {
     position: fixed;
     top: 0;
     right: 60px;
     background-color: rgba(255, 255, 255, 0.8);
     width: 80%;
     height: 100%;
     transform: translateY(-110%);
     transition: transform 0.4s ease;
      }
 .showNav {
     transform: translateY(0);
      }
      /*nesting av navbar*/
  .navbar {
    ul {
     width: 80%;
     height: 90%;
     list-style: none;
     display: flex;
     flex-flow: column nowrap;
     line-height: 60px;
      }
    ul li a {
     color: #003302;
     padding-bottom: 10px;
     text-decoration: none;
     font-size: 1.4rem;
      }
    ul li a:hover, .navbar ul li a:focus {
     text-decoration: underline;
      }    
    .here {
     text-decoration: underline;
      }
    }
 .lineone, .linetwo, .linethree {
      width: 38px;
      height: 5px;
      background-color: white;
      margin: 7px;
      transition: 0.5s;
        }
 .change .lineone {
      transform: rotate(-45deg) translate(-1px, 10px);
        }
 .change .linetwo {
      opacity: 0;
        }
  .change .linethree {
      transform: rotate(45deg) translate(-5px, -19px);
      }
    }
    @media only screen and (min-width: 900px) {
        /* headersektion */
          header {
              background-image: linear-gradient(to right, #6e0a1e, #00254d);
              padding: 0;
              top: 0;
              position: fixed;
              width: 100%;
              max-width: 1500px;
          }
          .meny {
             display: inline;
             float: right;
             margin-right: 15px;
             font-weight: 100;
             margin-top: 0.5em;
          }
          .menyhere {
             display: inline;
             float: right;
             text-decoration: underline;
             margin-right: 15px;
             font-weight: 100;
             margin-top: 0.5em;
          }
          .menyhere a {
              background-color: rgba(255, 255, 255, 0.05);
              padding: 0.2rem 1rem;
              border-radius: 60px;
              color: white;
          }
          .meny a {
              color: white;
              text-decoration: none;
          }
          .meny a:hover {
              text-decoration: underline;
          }
          .logo {
              width: 110px;
              margin-left: 15px;
              margin-top: 5px;
              background-color: rgba(255, 255, 255, 0.05);
              padding-left: 1rem;
              padding-right: 1rem;
              padding-bottom: 0.2rem;
              padding-top: 0.2rem;
              border-radius: 60px;
          }
        }      